---
import SiteTitle from "./SiteTitle.astro";
import config from "@/config/config.json";
import ThemeSwitch from "./ThemeSwitch.astro";
import LanguageSwitch from "./LanguageSwitch.astro";

// get current locale from URL
const locale = Astro.currentLocale || "es";

const { settings, navigation_button } = config;
---

<nav class="navbar container">
  <!-- logo -->
  <div class="order-0">
    <SiteTitle />
  </div>

  <!-- Right side actions -->
  <div class="order-1 ml-auto flex items-center gap-4 navbar-actions">
    <!-- Language Switch -->
    <LanguageSwitch />
    
    <!-- Theme Switch -->
    {settings.theme_switcher && <ThemeSwitch className="" />}

    <!-- Buy Button -->
    {
      navigation_button.enable && (
        <a
          class="btn btn-outline-primary hidden! md:inline-block!"
          href={navigation_button.link}
        >
          {navigation_button.translations
            ? // @ts-ignore
              navigation_button.translations[locale] || navigation_button.label
            : navigation_button.label}
        </a>
      )
    }
  </div>
</nav>

<script>
  // add header bg after scroll
  const nav = document.querySelector(".navbar");
  const sidebar = document.querySelector(".sidebar-nav");

  window.onscroll = function () {
    if (
      document.body.scrollTop > 10 ||
      document.documentElement.scrollTop > 10
    ) {
      nav?.parentElement?.classList.add("navbar-scrolled");
      sidebar?.classList.add("navbar-scrolled");
    } else {
      nav?.parentElement?.classList.remove("navbar-scrolled");
      sidebar?.classList.remove("navbar-scrolled");
    }
  };
</script>
